<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd 
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd 
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd "
	default-autowire="byName">

	<!--使用c3p0作为数据库连接池 -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="com.mysql.jdbc.Driver"></property>
		<property name="jdbcUrl"
			value="jdbc:mysql://localhost:3306/lzy_property_manager?characterEncoding=utf-8"></property>
		<property name="user" value="root"></property>
		<property name="password" value="root"></property>
		<property name="minPoolSize" value="10"></property>
		<property name="maxPoolSize" value="50"></property>
	</bean>
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="current_session_context_class">thread</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hbm2ddl.auto">update</prop>
			</props>
		</property>
		<!-- 按照文件方式指定 -->
		<!-- <property name="mappingResources"> <list> <value>/cn/com/ambow/book/pojo/Book.hbm.xml</value> 
			</list> </property> -->
		<!-- 按照目录方式指定 -->
		<property name="mappingDirectoryLocations">
			<list>
				<value>classpath:/com/lzy/pojo</value>
			</list>
		</property>
	</bean>

    <!-- 事务管理器配置, 使用jdbc事务-->
<bean id="transactionManager" 
class="org.springframework.orm.hibernate3.HibernateTransactionManager">  
            <property name="sessionFactory" ref="sessionFactory"></property>  
    </bean> 

<!-- 基本事务定义,使用transactionManager作事务管理,即transaction-manager可省,默认get*方法的事务为readonly,其余方法按默认设置.默认的设置请参考Spring文档事务一章. -->
    <tx:advice id="txAdvice"  transaction-manager="transactionManager">
        <tx:attributes>
            <tx:method name="get*" read-only="true" />
            <tx:method name="find*" read-only="true"/>
            <tx:method name="*"/>
        </tx:attributes>
</tx:advice>

    <!-- 以AspectJ方式定义AOP -->
	<!-- 定义AOP的配置，将事务拦截器植入方法中 -->
	<aop:config>
		<aop:pointcut id="txPointCut"
			expression="execution(public * com.lzy.impl.*.*(..))" />
		<aop:advisor advice-ref="txAdvice" pointcut-ref="txPointCut" />
	</aop:config>
	
	<!-- 登陆 -->
	<bean id="loginUser" class="com.lzy.impl.LoginUser"></bean>
	<bean id="LoginAction" class="com.lzy.action.LoginAction"></bean>
	
	<!-- 摄像机 -->
	<bean id="cameraDao" class="com.lzy.impl.CameraDao"></bean>
	<bean id="CameraAction" class="com.lzy.action.CameraAction"></bean>
	
	<!-- 健身器 -->
	<bean id="apparatusDao" class="com.lzy.impl.ApparatusDao"></bean>
	<bean id="ApparatusAction" class="com.lzy.action.ApparatusAction"></bean>
	
	<!-- 其他公共设施 -->
	<bean id="othApparatusDao" class="com.lzy.impl.OthApparatusDao"></bean>
	<bean id="OthApparatusAction" class="com.lzy.action.OthApparatusAction"></bean>
	
	<!-- 车位信息 -->
	<bean id="parkingDao" class="com.lzy.impl.ParkingDao"></bean>
	<bean id="ParkingAction" class="com.lzy.action.ParkingAction"></bean>
	
	<!-- 车辆信息 -->
	<bean id="carsDao" class="com.lzy.impl.CarsDao"></bean>
	<bean id="CarsAction" class="com.lzy.action.CarsAction"></bean>
	
	<!-- 部门信息 -->
	<bean id="departmentDao" class="com.lzy.impl.DepartmentDao"></bean>
	<bean id="DepartmentAction" class="com.lzy.action.DepartmentAction"></bean>
	
	<!-- 工作人员信息 -->
	<bean id="workerDao" class="com.lzy.impl.WorkerDao"></bean>
	<bean id="WorkerAction" class="com.lzy.action.WorkerAction"></bean>
	
	<!-- 房屋信息 -->
	<bean id="homeDao" class="com.lzy.impl.HomeDao"></bean>
	<bean id="HomeAction" class="com.lzy.action.HomeAction"></bean>
	
	<!-- 管理员信息 -->
	<bean id="administratorsDao" class="com.lzy.impl.AdministratorsDao"></bean>
	<bean id="AdministratorsAction" class="com.lzy.action.AdministratorsAction"></bean>
	
	<!-- 业主信息 -->
	<bean id="ownerDao" class="com.lzy.impl.OwnerDao"></bean>
	<bean id="OwnerAction" class="com.lzy.action.OwnerAction"></bean>
	
	<!-- 水电费信息 -->
	<bean id="moneyDao" class="com.lzy.impl.MoneyDao"></bean>
	<bean id="MoneyAction" class="com.lzy.action.MoneyAction"></bean>
	
	<!-- 水电费凭证信息 -->
	<bean id="payDao" class="com.lzy.impl.PayDao"></bean>
	<bean id="PayAction" class="com.lzy.action.PayAction"></bean>
	
	<!-- 保修信息 -->
	<bean id="repairDao" class="com.lzy.impl.RepairDao"></bean>
	<bean id="RepairAction" class="com.lzy.action.RepairAction"></bean>
	
	<!-- 发送网络套接字 -->
	<bean id="SocketAction" class="com.lzy.action.SocketAction"></bean>
</beans>
